<!DOCTYPE html>

<html>
<head>
    <title> Art hack: death ray system</title>
    <link rel="stylesheet" type="text/css" href="static/css/deathray.css">
    <script src="static/js/lib/jquery.js" type="text/javascript"></script>
    <script src="static/js/deathray.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">

        <div id="deathray">
            <ul>
                <li class="highest">highest</li>
                <li class="high"></li>
                <li class="medium"></li>
                <li class="low"></li>
                <li class="minor" >Minor</li>
            </ul>
        </div>

        <div id="outor"></div>
        <div id="inner"></div>
        <div id="center"></div>
        <div id="center_point"><br/>LOADING Data...</div>
        <div id="meter"></div>

        <aside>
            <div class="data">
                <h2>Device Info</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </aside>

        <aside>
            <div class="data_2">
            <h2>Data</h2>
            <ul>
                <li>Loading...</li>
            </ul>
        </aside>

        <h1> Death Ray </h1>

    </div>
</body>
</html>