<!DOCTYPE html>

<html>
<head>
    <title> Art hack: death ray system</title>
    <link rel="stylesheet" type="text/css" href="static/css/deathray.css">
    <script src="static/js/lib/jquery.js" type="text/javascript"></script>
    <script src="static/js/deathray.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">

        <div id="deathray">
            <ul>
                <li class="highest">highest</li>
                <li class="high"></li>
                <li class="medium"></li>
                <li class="low"></li>
                <li class="minor" >Minor</li>
            </ul>
        </div>

        <div id="outor"></div>
        <div id="midder"></div>
        <div id="inner"></div>
        <div id="center"></div>
        <div id="center_point"></div>
        <div id="meter"></div>

        <aside>

            <div class="data">
                <h4>Device Info</h4>
                <ul>
                    <li></li>
                </ul>
            </div>

            <div class="data_2_title">
                <ul>
                    <li>[ --------- bssid ---------- ] power, probs </li>
                </ul>
            </div>
            <div class="data_2">
                <ul>
                    <li>Loading...</li>
                </ul>
            </div>
            <div class="data_3">
                <ul>
                    <li>... </li>
                </ul>
            </div>

            <div class="console_back">

            </div>

            <div class="console">
                <form>
                    <input type="text" class="command">
                </form>
            </div>

        </aside>

        <h1> Death Ray </h1>

    </div>
</body>
</html>