/* Deathray SCSS */
body {
  background-color: #03010f;
  color: orange;
  font-size: 1.1em; }

ul li {
  list-style-type: none; }

.container h1 {
  position: absolute;
  top: 1060px;
  left: 470px; }

#deathray {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: auto;
  padding: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 500px;
  background-color: #000000; }
  #deathray .indicator, #deathray .highest, #deathray .high, #deathray .medium, #deathray .low, #deathray .minor {
    position: absolute;
    opacity: 0.9;
    top: 1100px;
    left: 20px;
    z-index: 100;
    box-shadow: 0px 0px 10px #22ff00; }
  #deathray .highest {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px; }
  #deathray .high {
    margin-left: 120px;
    width: 60px;
    height: 60px;
    background-color: #ff6e00;
    border-radius: 30px; }
  #deathray .medium {
    margin-left: 200px;
    width: 40px;
    height: 40px;
    background-color: #f6e016;
    border-radius: 20px; }
  #deathray .low {
    margin-left: 260px;
    width: 32px;
    height: 32px;
    background-color: #0051ff;
    border-radius: 16px; }
  #deathray .minor {
    margin-left: 300px;
    width: 12px;
    height: 12px;
    background-color: #22ff00;
    border-radius: 6px; }

.circle, #outor, #inner, #center, #center_point {
  position: absolute;
  opacity: 0.9;
  margin: auto;
  padding: 0;
  border-style: solid;
  border-color: #12800d; }

#outor {
  top: 46px;
  left: 46px;
  width: 980px;
  height: 980px;
  border-radius: 490px; }

#inner {
  top: 140px;
  left: 140px;
  width: 800px;
  height: 800px;
  border-radius: 400px; }

#center {
  top: 460px;
  left: 460px;
  padding: 0;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #006900;
  opacity: 0.7; }

#center_point {
  top: 527px;
  left: 526px;
  padding: 0;
  width: 22px;
  height: 22px;
  border-radius: 14px;
  background-color: #22ff00;
  box-shadow: 0px 0px 2px #22ff00; }

#meter {
  position: absolute;
  top: 540px;
  left: 540px;
  margin: auto;
  padding: 0;
  width: 8px;
  height: 490px;
  background-color: #22ff00;
  transform-origin: 0px 0px;
  box-shadow: 20px -2px 34px green;
  z-index: 1000; }

aside .all_data, aside .data, aside .data_2_title, aside .data_2, aside .data_3, aside .console {
  position: absolute;
  left: 1100px;
  width: 470px;
  margin: 0 0 20px 0;
  color: yellow;
  background-color: black;
  border-radius: 10px; }
aside .data {
  top: 40px;
  height: 220px; }
aside .data_2_title {
  top: 270px;
  height: 100px; }
aside .data_2 {
  top: 340px;
  height: 400px;
  overflow: auto; }
aside .data_3 {
  top: 750px;
  height: 300px;
  overflow: auto;
  padding-bottom: 40px; }
aside .console {
  top: 1000px;
  height: 20px; }
  aside .console input[type="text"] {
    padding: 1px 0px 0px 10px;
    margin: 1px 0px 0px 40px;
    width: 390px;
    height: 24px;
    background-color: #000000;
    color: yellow; }
aside h2 {
  margin-left: 12px;
  background-color: #05021b; }
aside .device_info {
  display: none; }
