/* Deathray SCSS */

body {
  background-color: #03010f;
  color: orange;
}
ul {
  li {
      list-style-type: none;
  }
}
.container {
  h1 {
    position: absolute;
    top: 1060px;
    left: 470px;
  }
}
#deathray {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: auto;
  padding: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 500px;
  background-color: #000000;

  .indicator {
    position: absolute;
    opacity: 0.9;
    top: 500px;
    left: 500px;
    z-index: 100;
    box-shadow: 0px 0px 10px #22ff00;
  }
  .highest {
    @extend .indicator;
    margin-left: 250px;
    margin-top: 250px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
  }
  .high {
    @extend .indicator;
    margin-left: 0px;
    margin-top: 386px;
    width: 60px;
    height: 60px;
    background-color: #ff6e00;
    border-radius: 30px;
  }
  .medium {
    @extend .indicator;
    margin-left: -416px;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    background-color: #f6e016;
    border-radius: 20px;
  }
  .low {
    @extend .indicator;
    margin-left: 400px;
    margin-top: 0px;
    width: 32px;
    height: 32px;
    background-color: #0051ff;
    border-radius: 16px;
  }
  .minor {
    @extend .indicator;
    margin-left: 286px;
    margin-top: -284px;
    width: 12px;
    height: 12px;
    background-color: #22ff00;
    border-radius: 6px;
  }
}

.circle {
  position: absolute;
  opacity: 0.9;
  margin: auto;
  padding: 0;
  border-style: solid;
  border-color: #12800d;
}


#outor {
  @extend .circle;
  top: 46px;
  left: 46px;
  width: 980px;
  height: 980px;
  border-radius: 490px;
}

#inner {
  @extend .circle;
  top: 140px;
  left: 140px;
  width: 800px;
  height: 800px;
  border-radius: 400px;
}

#center {
  @extend .circle;
  top: 460px;
  left: 460px;
  padding: 0;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background-color: #006900;
  opacity: 0.7;
}

#center_point {
  @extend .circle;
  top: 527px;
  left: 526px;
  padding: 0;
  width: 22px;
  height: 22px;
  border-radius: 14px;
  background-color: #22ff00;
  box-shadow: 0px 0px 2px #22ff00;

}

#meter {
  position: absolute;
  top: 540px;
  left: 540px;
  margin: auto;
  padding: 0;
  width: 8px;
  height: 490px;
  background-color: #22ff00;
  transform-origin: 0px 0px;
  box-shadow: 20px -2px 34px green;
  z-index: 1000;
}

aside{
  position: absolute;
  top: 40px;
  left: 1100px;
  width: 470px;
  min-height: 480px;
  margin: 0 0 20px 0;
  color: yellow;
  background-color: black;

  h2 {
    margin-left: 4px;
  }

}